<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div id="feed-list">
        <ul>
        @foreach (var feed in @Model)
        {
            <li id="feed-@feed.Id" class="feed"><a href="@feed.Uri">@feed.Name</a></li>
        }
        </ul>
    </div>
</body>
</html>
